#portfolio {
	padding-top: 50px;
}

#publications {
	padding-top: 50px;
}

#contact {
	height: 650px;
	padding-top: 50px;
	background-color: rgb(158,143,178);
}

.jumbotron {
	background: linear-gradient(45deg, #32a8a4, #66a3ff);
	border-radius: 0px;
	margin: 55px 0px 0px 0px;
	display: flex;
	align-items: center;
	height: 600px;
}

.custom-card {
	min-width: 250px;
	/* max-width: 350px; */
}

.card img {
	width: 100%;
    height: 15vh;
    object-fit: cover;
}

#footer-text {
	padding-top: 80px;
}
